.homeBannerContainer {
  position: relative;
  background-color: #011b3a;
}

.homeBannerWrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 1rem;
}

.homeBannerName {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 10px 0px;
}

.homeBannerHeading {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 45px;
}

.homeTextBr {
  display: inline;
}

.homeBannerPara {
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  padding: 16px 0px;
  letter-spacing: 1px;
}

.homeBannerButtonContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.homeBookBtn {
  background-color: #fd7f00;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding: 8px 22px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.homeContactBtn {
  background-color: #0b81fe;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding: 8px 22px;
  border-radius: 15px;
}

.homeBannerRight {
  position: relative;
  width: 400px;
}

.homeBannerRight img {
  width: 100%;
  height: 100%;
}

.homeMyCityAppImg {
  position: absolute;
  width: 261px;
  top: 90px;
  left: 0px;
}

.homeMyCityAppImg img {
  width: 100%;
  height: 100%;
}

.homePlaceAppImg {
  position: absolute;
  width: 120px;
  top: 200px;
  right: 0;
}

.homePlaceAppImg img {
  width: 100%;
  height: 100%;
}

.homeSleepingAppImg {
  position: absolute;
  width: 325px;
  bottom: -40px;
  left: 8px;
  transform: rotate(-7deg);
}

.homeSleepingAppImg img {
  width: 100%;
  height: 100%;
}

.homeVectorImg {
  position: absolute;
  width: 80px;
  right: 10px;
  bottom: 200px;
}

.homeVectorImg img {
  width: 100%;
  height: 100%;
}

.heroCurve {
  position: absolute;
  bottom: -5px;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
  .homeBannerRight {
    width: 300px;
  }

  .homeVectorImg {
    display: none;
  }

  .homeMyCityAppImg {
    width: 200px;
    top: 65px;
    left: 0px;
  }

  .homePlaceAppImg {
    width: 90px;
    top: 150px;
  }

  .homeSleepingAppImg {
    width: 280px;
    bottom: -25px;
    left: 10px;
  }

  .homeBannerHeading {
    font-size: 37px;
  }

  .homeBannerPara {
    font-size: 14px;
  }

  .homeBookBtn,
  .homeContactBtn {
    font-size: 12px;
    padding: 8px 15px;
  }
}

@media only screen and (max-width: 768px) {
  .homeBannerWrapper {
    flex-direction: column-reverse;
    gap: 4rem;
    align-items: center;
    padding: 3rem 1rem;
  }

  .homeBannerName,
  .homeBannerHeading,
  .homeBannerPara {
    text-align: center;
  }

  .homeBannerHeading {
    font-size: 30px;
  }

  .homeTextBr {
    display: none;
  }

  .homeBannerPara {
    line-height: 30px;
  }

  .homeBannerButtonContainer {
    justify-content: center;
  }

  .homeContactBtn,
  .homeBookBtn {
    font-size: 14px;
    padding: 8px 20px;
  }
}

@media only screen and (max-width: 550px) {
  .homeBannerButtonContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .homeBannerHeading {
    font-size: 24px;
  }
}
